<h2>Bienvenido!! </h2>
<br>
<h3>Usuario: {{usuario}}</h3>
<h3>email: {{email}}</h3>
<h3>edad: {{age}}</h3>
<h3>id carrito: {{cart}}</h3>
<h3>rol de usuario: {{rol}}</h3>
<form action="/api/sessions/logout" method="POST">
    <button type="submit"> Logout </button>
</form>